* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  background-color: #50a39a;
}

.nav-a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.nav-a:hover {
  color: gray;
}

.prison-wrapper {
  border: 1px solid white;
  width: 400px;
  height: 200px;
}

.prisonlist-wrapper {
  display: flex;
  justify-content: space-around;
}

.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.register-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.add-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.prisoner-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prisoner-card {
  width: 400px;
  margin: 10px;
}

.prisoner-text {
  color: white;
}

.card-contain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-sub-nav {
  background-color: #50a39a;
  height: 200px;
  padding: 25px;
}

.card {
  width: 400px;
  color: #5c5c5c;
  margin: 20px;
}
